/* Booking Page Styles */
.formContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
 .formContainer input {
  border-radius: 6px;
  padding: .5em;
  width: 30em;
}
 .dateOptions {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 3fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}
 .dateOptions div {
  padding: 1em;
  border: 1px solid #6e6f6e;
  border-radius: 12px;
}
 .dateOptions div:nth-child(3) {
  padding: 1em;
  border: 0;
}

form {
  font-family: Karla, sans-serif;
  margin: 0 auto 0 auto;
  width: 90%;
 }
 form p {
    color: red;
    font-weight: 600;
    text-align: center;
 }
 .formHolder {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
  padding: 0;
 }
 .div1 {
  border: 4px solid #333;
  border-radius: 12px;
  padding: 8px;
  margin: 0 auto;
  width: 40%;
}
 .div1 label,
.div2 label {
  align-items: center;
  margin: 0 auto
}
 .div2 {
  background: url(../html-files/assets/group.png);
  background-position: 30px 40px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
 }
 .div2 div:nth-child(1),
.div2 div:nth-child(2) {
  border: 4px solid #333;
  border-radius: 12px;
  padding: 8px;
}
 .div2 div:nth-child(1) {
  margin-bottom: 1em
}
 .div3 button {
  margin: 1em 0 1em 0;
}
 .headCenter {
  text-align: center;
}
 .alignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
 .alignCenter h2 {
  margin-top: 1em;
  font-family: Karla, sans-serif;
  font-size: 1.9rem;
  line-height: 1.5;
  color: #333
}
.alignCenter input {
border: 4px solid #333;
  border-radius: 12px;
  padding: .5em;
}
 .formHolder label,
input,
select {
  display: flex;
  flex-direction: column;
}
 .div1 {
  border: 4px solid #333;
  border-radius: 12px;
  padding: 8px;
}
 .div1 label,
input,
.div2 label,
select {
  align-items: center;
  margin: 0 auto;
}
 .div2 {
  background: url('../html-files/assets/group.png');
  background-position: 30px 40px;
  background-repeat: no-repeat;
}
 .div2 div:nth-child(1),
.div2 div:nth-child(2) {
  border: 4px solid #333;
  border-radius: 12px;
  padding: .5em .5em 1em .5em;
}
 .div2 div:nth-child(1) {
  margin-bottom: 1em;
}
 .div3 {
  margin: 0 auto;
 }
 .div3 input,
textarea {
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 1rem;
  font-family: inherit;
  font-size: 1.6rem;
  width: 20em;
}
 .specialRequest {
  border: 4px solid #333;
  border-radius: 12px;
  padding: 1em;
  margin: 1em 0 1em 0;
}
 .specialRequest label {
  margin: 0 auto 1em auto;
}
 .specialRequest textarea {
  min-height: 10em;
}
 .submitBtn {
  margin:1em 0 1em 0;
  background-color: #F4CE14;
  color: #000;
  border: 3px solid #333;
  padding: 1em;
  border-radius: 12px;
  font-weight: 700;
}

select {
  background-color: var(--highlight-gray);
  border: 1px solid #000;
}

input[type="text"] {
  cursor: text;
}

input[type="submit"] {
  margin-top: 1em;
  align-self: flex-end;
  border: none;
  width: 50%;
}

input:focus,
select:focus {
  border: 2px solid var(--primary-yellow);
}

input[type="submit"]:disabled {
  background-color: var(--highlight-gray);
  cursor: not-allowed;
}
 .invalid-input:focus+.error-msg {
  display: none;
}

/* Confirmed Booking Page */
.confirmedBooking {
  width: 60%;
  margin: 0 auto 1em auto;
}
 /**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
@media all and (min-width: 1024px) and (max-width: 1280px) {}
 @media all and (min-width: 768px) and (max-width: 1024px) {}
 @media all and (min-width: 480px) and (max-width: 768px) {
  .div2 {
    background-image: none;
  }
 }
 @media all and (max-width: 480px) {

    form input, select {
        max-width: 90%;
    }
   .formHolder {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }
   select,
  input,
  button {
    width: 300px;
  }
   .div1,
  .div2 {
    width: 80%;
    margin: 1em auto 1em auto;
  }
   .div3 {
    margin: 0;
  }
   .div2 {
    background-image: none;
  }
   .formHolder label,
  input,
  select {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }
   .div3 input {
    padding: 1em;
    font-size: 1rem;
    width: 19em;
  }
   .specialRequest {
    padding: 1em;
    font-size: 1rem;
    width: 19em;
  }
  .specialRequest textarea {

    width: 95%;
  }
   .alignCenter {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0;
  }
    .alignCenter h2 {
    margin: 1em auto 1em auto;
  }
}
   /* Portrait */
  @media screen and (orientation:portrait) {
    /* Portrait styles here */
  }
   /* Landscape */
  @media screen and (orientation:landscape) {
    /* Landscape styles here */
  }
   /* CSS for iPhone, iPad, and Retina Displays */
  /* Non-Retina */
  @media screen and (-webkit-max-device-pixel-ratio: 1) {}
   /* Retina */
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {}
   /* iPhone Portrait */
  @media screen and (max-device-width: 480px) and (orientation:portrait) {}
   /* iPhone Landscape */
  @media screen and (max-device-width: 480px) and (orientation:landscape) {}
   /* iPad Portrait */
  @media screen and (min-device-width: 481px) and (orientation:portrait) {}
   /* iPad Landscape */
  @media screen and (min-device-width: 481px) and (orientation:landscape) {}