body {
    display: grid;
    height: 15vh;
    grid-template-rows:auto 1fr auto;
}

header {
    background-color: #e1b3bc;
    padding: 2em;
    text-align: center;
}
main{
    background-color: #a6d0ef;
    padding: 2em;
    text-align: center;
}
footer{
    background-color:#f699e5;
    padding: 2em;
    text-align: center;
}